body, ul {
    margin: 0;
    padding: 0;
}

.navigation-bar {
    width: 100%;
    background-color: #6e072d;
    color: white;
    display: flex;
    justify-content: space-between;
}

ul {
    list-style-type: none;
}

.left-nav li,
.right-nav li {
    display: inline-block;
}

.left-nav li {
    padding: 18px 27px; 
    border-right: 2px solid white;
}

.right-nav li {
    padding: 18px 27px;
    border-left: 2px solid white;
}

.left-nav li:first-child {
    border-left: none;
}

.right-nav li:last-child {
    border-right: none;
}

.left-nav li a,
.right-nav li a {
    display: block;
    text-decoration: none;
    color: white;
}

.left-nav li a:hover,
.right-nav li a:hover {
    background-color: #b90e4d;
    cursor: pointer;
}
